<!DOCTYPE html>
<html>
<head>
	<title> Trash Can Details </title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  	<meta charset="utf-8">
	 
<style type="text/css">
  



</style>


</head>

<body>

	<div class="container-fluid">
    
 	{% for trash in data %}
	<h3>Trash Can ID :{{ trash.id }}	</h3>
    <div class="row thm">

      <div class="col-sm-6 text-center"><div class="thumbnail"><a href="#"><iframe width="430" height="280" frameborder="0" src="https://app.ubidots.com/ubi/getchart/Xdu9xxivRQoipfJiwI4dm_LfREs"></iframe><div class="caption"><strong> Trash percent </strong></div></a></div></div>
      <div class="col-sm-6 text-center"><div class="thumbnail"><a href="#"><iframe width="430" height="280" frameborder="0" src="https://app.ubidots.com/ubi/getchart/l_HpNeX9_cd98iWGGAPI1FA9q3M"></iframe><div class="caption"><strong> Last day record </strong></div></a></div></div>
      
    </div>
	{% endfor %}
<div class="footer text-center a"> Green City 2019 , All rights Reserved</div>

</body>
</html>